@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Commissioner', sans-serif;
}

li{
    list-style: none;
}

a{
    color: initial;
    text-decoration: none;
}

html, body{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 8px; 
}

body::-webkit-scrollbar-track{
    background-color: #ebe8e8;
}

body::-webkit-scrollbar-thumb{
    background: #292a2b;
    border: 1px solid #292a2b;
    border-radius: 30px;
}

#header input[type="checkbox"], label{
    display: none;
    position: fixed;
    z-index: 2;
    top: 5%;
    right: 10%;
}

#header{
    position: fixed;
    width: 13%;
    height: 100vh;
    z-index: 1;
}

header nav ul li a{
    display: flex !important;
    align-items: center;
    line-height: 40px;
    height: 55px;
    width: 56px;
    background-color: #f2f3f5;
    border-radius: 50px;
    color: #45505b;
    overflow: hidden;
    transition: all 0.5s;
}

header nav ul li a:hover, .actived{
    width: 100%;
    background-color: #326273; /*mudar cor*/
    color: #f7f7f7;
}

header nav ul li a span{
    display: none;
}

header nav ul li a:hover span{
    display: block;
}

header nav ul li a > .p-style{
    padding-left: 2px;
}

header nav ul li a > .p-style1{
    padding-left: 3px;
}

header p{
    display: none;
}

main #home::before{
    height: 115vh;
    content: "";
    position: absolute;
    bottom: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    background: #ffffff8a;
}

main #home{
    height: 115vh;
    background: url("../img/Fundo3.png") no-repeat center;
    background-size: cover;
}

main #home .h-modify{
    height: 100vh !important;
}

main #home .h-modify h1{
    font-weight: 600;
    font-family: 'Commissioner', sans-serif;
}

main #home .font-modify a{
    font-size: 0.7em;
    color: #3f4144;
    transition: all 0.5s;
}

main #home .font-modify a:hover{
    color: #5C9EAD;
}

main .position-waves{
    margin-top: -5%;
}

main #sobre > div > .hr{
    width: 8%;
    border: 0.5px solid rgb(150, 141, 141);
    border-radius: 3px;
}

main #sobre > div > .hr:nth-of-type(1){
    width: 3%;
    border: 2px solid #326273;
    position: relative;
    top: 3px;    
}

main #sobre > div > div .img{
    height: 75vh;
    border-radius: 50%;
    background: url(../img/eu.JPG) no-repeat;
    background-size: cover;
    background-position: 38%;
}

main #sobre div > h3{
    color: #326273;
}

@media(min-width: 300px) and (max-width: 660px){

    header label{
        display: block;
    }

    header nav{
        position: fixed !important;
        height: 100vh;
        background-color: #acaeb1;
        width: 100%;
        z-index: 1;
        left: -100%;
        transition: all 0.5s;
    }

    header p{
        display: block;
        position: fixed !important;
        bottom: 15px;
        z-index: 1;
        width: 100%;
        left: -100%;
        transition: all 0.5s;
    }

    header nav ul{
        width: 100%;
    }

    header nav ul li a{
        width: 80%;
        justify-content: center;
    }

    header nav ul li a span{
        display: block;
    }

    header nav p{
        display: none;
    }

    #bars:checked ~ nav, #bars:checked ~ p{
        left: 0%;
    }

    main #home{
        background: url("../img/Fundo3.png") no-repeat ;
        background-size: cover;
        background-position-x: 87%;
        position: relative;
        z-index: -1;
    }

    main #home h1.font-modify{
        font-size: 2.6em;
    }

}