@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Commissioner', sans-serif;
}

li{
    list-style: none;
}

a{
    color: initial;
    text-decoration: none;
}

#header{
    position: fixed;
    width: 13%;
    height: 100vh;
}

header nav ul li a{
    display: flex !important;
    align-items: center;
    line-height: 40px;
    height: 55px;
    width: 56px;
    background-color: #f2f3f5;
    border-radius: 50px;
    color: #45505b;
    overflow: hidden;
    transition: all 0.5s;
}

header nav ul li a:hover, .actived{
    width: 100%;
    background-color: #186FC0; /*mudar cor*/
    color: #f7f7f7;
}

span{
    display: none;
}

header nav ul li a:hover span{
    display: block;
}

header nav ul li a > .p-style{
    padding-left: 2px;
}

main #home{
    height: 100vh;
    background: url("../img/Fundo.png") no-repeat center;
    background-size: cover;
}

main #home .h-modify{
    height: 100vh !important;
}

main #home .h-modify h1{
    font-weight: 600;
}

main #home .font-modify{
    font-size: 0.7em;
    color: #45505b;
    transition: all 2s;
}

main #home .font-modify:hover{
    color: #186FC0;
}